/* Utility Stylesheets */

/*a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

.img-scaled-wh {
width: 100%;
height: 100%;
}*/


html {
  height: 100%;
}

body {  /*the outer layer of the site and global style attributes*/
font-family: 'Lato', sans-serif;
margin: 0px;
background: #edeae5;
min-height: 100%;
height: 100%;
width: 100%;
}




.banner {
  position: relative;
  background-color: #CD5C5C;
  width: 100%;
  /* height: 600px; */
  padding-bottom: 250px;
  z-index: 1000;
}


.wrapper-shift {
  /* width: 100%; */
  /* height: 100%; */
  /* -webkit-transform: translateY(0); */
  position: absolute;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8 ease;
  top: 0;
}

.wrapper-shift-active {
  -webkit-transform: translateY(650px);
  -moz-transform: translateY(650px);
  -ms-transform: translateY(650px);
}

.banner-content {
    text-align: center;
    color: white;
}

.header {
    margin-bottom: 50px;
    width: 100%;
}

#title {
    position: relative;
    top: 100px;
    font-size: 100px;
    font-weight: 100;
}

#subtitle {
    position: relative;
    font-size: 20px;
    font-weight: 100;
    top: 100px;
}

#hiw-button {
    padding: 50px;
    position: relative;
    top: 50px;
}

#download-button {
    padding: 20px;
}



.myButton {
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #FFFFFF;
}

.myButton:active {
    position:relative;
    top:1px;
}


.how-it-works-section {
  position: relative;
  -webkit-transform: translateY(-650px);
  /* height: 650px; */
  /* height: 90%; */
  padding-bottom: 101px;
  width: 100%;
  background-color: #79cccd;
  z-index: 1000;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8 ease;
}

.how-it-works-section-active {
  /* push down to 0 from -650 */
  -webkit-transform: translateY(0);
}
.page-container-responsive {
  height: 100%;
  width: 100%;
}

.row-container {
  height: 90%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  top: 30px;
  text-align: justify;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.row-cell {
  width: 20%;
  height: 88%;
  vertical-align: top;
  display: inline-block;


}

.cell-body {
    /*background-color: rgba(184, 166, 203, 0.73);*/
    width: 100%;
    height: 100%;
}

  .cell-img-container {
    width: 100%;
    height: 50%;
  }

  .cell-img-container img {
    width: 85%;
    height: auto;
    padding-left: 20px;
  }

  .cell-title {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: white;
  }

  .cell-text {
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: whitesmoke;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
  }

  #mission {
    position: relative;
    width: 100%;
    /* height: 400px; */
    height: 100%;
    padding-bottom: 20px;
    background-color: #FFFAFA;
  }

  #mission-container {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

  #mission-title {
    position: relative;
    top: 50px;
    font-size: 64px;
    font-weight: 300;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  #mission-text {
    position: relative;
    padding-top: 70px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: black;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
  }

  #explore {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: #FFFAFA;
  /* position: absolute; */
}

  #explore-title {
  position: relative;
  text-align: center;
  padding: 20px;
  font-size: 64px;
  font-weight: 300;
  }

  #explore-tiles {/*container*/
    width: 80%;
    height: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }



  .info {
    height: 600px;
    width: 100%;
   background: url("../img/dark_embroidery.png");
  }


  .info img {
    width:100%;
    height:100%;
  }


  .tile img {
      width: 100%; /*full width of ANY tile's container */
      height: 100%;
  }

  .tile {
    padding-bottom: 35px;
  }

  .tile.UCB {
/*    width: 52.2%;
    height: 20.2%;
    display: inline-block;*/
        width:600px;
    height: 400px;
    display: inline-block;
  }



  .tile.UCLA {
    width:500px;
    height: 400px;
    float: right;
  }

  .tile.UCSB {
    width:500px;
    height: 300px;
    float: left;
  }

  .tile.Stanford {
    width:600px;
    height: 300px;
    float: right;
  }

  .tile.USC {
    width:600px;
    height: 400px;
    display: inline-block;
  }

  .tile.UCSD {
    width:500px;
    height: 400px;
    float: right;
  }

  .tile.UCD {
    width:500px;
    height: 300px;
    float: left;
  }

  .tile.UCSC {
    width:600px;
    height: 300px;
    float: right;
  }

  .tile.UCM {
    width:600px;
    height: 400px;
    display: inline-block;
  }

  .tile.UCSF {
    width:500px;
    height: 400px;
    float: right;
  }


figure{
  width: 100%; /* 100% of .tile.XX container */
  height: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #fff;
  box-shadow: 0 0 5px #ddd;
  margin: 1em;
}

figcaption{
  /*responsible for overlay*/
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

figcaption div{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: white;
  text-transform: uppercase;
}

figcaption div:after{
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: white;
}


figure img{
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

figure:hover figcaption{
 background: rgba(8, 8, 8, 0.50);
}

figcaption:hover div{
  opacity: 1;
  top: 0;
}

figcaption:hover div:after{
  width: 50%;
}

figure:hover img{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}

#team-section {
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: #CD5C5C; /*Indian Red */
}

#team-title {
  position: relative;
  font-size: 100px;
  font-weight: 100;
  color: white;
  padding-top: 30px;
  padding-left: 35px;
}

.team-row {
  /* height: 100%; */
/*  padding-bottom: 100px;*/
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  text-align: justify;
}

.team-row-cell {
  width: 17%;
  height: 100%;
  vertical-align: top;
  display: inline-block;
}

.name {
  position: relative;
  font-size: 45px;
  font-weight: 100;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-cell-body {
  width: 100%;
  height: 100%;
}

  .cell-image{
    width: 100%;
    height: 75%;
  }

  .cell-image img {
    width: 100%;
    height: 100%;
  }

.position {
  position: relative;
  font-size: 45px;
  font-weight: 100;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

#mission_text {
  position: relative;
  font-size: 30px;
  font-weight: 100;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}














